.banner {
  height: 56vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
  position: absolute;
}

.banner-text-area {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  position: relative;
}

.banner-text-area > * {
  z-index: 2;
}

.banner-text-area h1 {
  font-size: clamp(0.875rem, 5vw, 2.5rem);
  margin-bottom: 1rem;
}

.banner-text-area p {
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
}

/* 테블릿 */
@media (min-width: 768px) {
  .banner-text-area {
    width: 60%;
    padding: 32px;
  }

  .banner-text-area p {
    -webkit-line-clamp: 5;
  }
}

/* 데스크탑 */
@media (min-width: 1028px) {
  .banner-text-area {
    width: 36%;
  }

  .banner-text-area p {
    -webkit-line-clamp: 6;
  }
}

@media (min-width: 1440px) {
  .banner-text-area p {
    display: block;
    -webkit-line-clamp: unset;
  }
}
